{% extends "base.html" %}
{% block title%}Current and previous tournaments {% endblock %}
{% block body%}
{% include "navbar.html" with active="tournaments" %}

{% load custom_tags %}

{% if active_tournaments %}
<h2>Current Tournaments:</h2>
{% for tournament in active_tournaments%}
<a href="{% url show_tournament_data tournament.id 0 %}">{{tournament.name}}</a>
{% endfor %}
{% endif %}


{% if old_tournaments %}
<h2>Previous Tournaments:</h2>
{% for tournament in old_tournaments%}
<a href="{% url show_tournament_data tournament.id 0 %}">{{tournament.name}}</a> - Winner: {{tournament.tournament_winner.name}}
{% endfor %}
{% endif %}


{% endblock %}